@import "base";

.form {
  &__container {
    width: 100%;
    background: $red;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid $mid;
    & label {
      user-select: none !important;
    }
  }
  &__title {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    user-select: none !important;
  }
  &__wrapper {
    margin: auto;
    max-width: 400px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 15px 0;
  }
  &__submit {
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: 1px solid;
    font-size: 1rem;
    cursor: pointer;
  }
  &__password-wrapper {
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    & > .eye-button {
      position: absolute;
      right: 10px;
      top: 5px;
      height: 20px;
      width: 20px;
      background-image: url("/static/img/show.svg");
      cursor: pointer;
      &.hide {
        background-image: url("/static/img/hide.svg");
      }
    }
  }
  &__checkbox-wrapper {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  &__input {
    font-size: 1rem;
    &[type="password"], &[type="text"] {
      background: $light;
      width: 100%;
      padding: 5px 10px 5px 10px;
      border-radius: 3px;
      border: 1px solid;
    }
    &[type="checkbox"] {
      background: $light;
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }
    @at-root select#{&} {
      background: $light;
      width: 100%;
      padding: 5px 10px 5px 10px;
      border-radius: 3px;
      border: 1px solid;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("/static/img/arrow-down.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 6px) 4px;
      background-size: 20px 20px;
    }
    &:focus-visible {
      outline: none;
    }
  }

  &__icons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }

  &__icon-wrapper {
    flex: 0 0 23%;
    padding-top: 2%;
    &.hidden {
      display: none;
    }
  }

  &__icon-container {
    position: relative;
    width: 100%;
    padding: 50%;
  }

  &__icon-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    &[src=""] {
      background: red;
    }
  }

  &__icon {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__icon-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    background-image: url("/static/img/delete.svg");
    cursor: pointer;
    &.hidden {
      display: none;
    }
  }

  &__submit-block {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
  }
}