<!-- inputs of form-->
{% macro form_data(form, class='form__input') -%}
    {% for elem in form %}
        {% if elem.type == "BooleanField" %}
            {{ check_box(elem, class=class) }}
        {% elif elem.type != "CSRFTokenField" and elem.type != "SubmitField" and elem.type != "FileField" and elem.name != "images_used" %}
            {{ input(elem, class=class) }}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro check_box(field, class='form__input') -%}
    <div class="form__checkbox-wrapper">
        {{ field(class=class) }}
        {{ field.label }}
    </div>
    {% for error in field.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
{%- endmacro %}

{% macro input(field, class='form__input') -%}
    {{ field.label }}<br>
    <div class="form__password-wrapper">
        {{ field(class=class) }}
        {% if field.type == "PasswordField" %}
            <div class="eye-button"></div>
        {% endif %}
    </div>
    {% for error in field.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
{%- endmacro %}

<!-- inputs icon of form-->
{% macro form_icon(form, id) -%}
    <div class="form__icons">
        {% for elem in form %}
            {% if elem.name == "icon_"+id %}
                {{ input_icon(elem) }}
            {% endif %}
        {% endfor %}
    </div>
{%- endmacro %}

{% macro input_icon(field) -%}
<div class="form__icon-wrapper">
    <div class="form__icon-container">
        <img src="" alt="" class="form__icon-preview">
        {{ field(class="form__icon") }}
    </div>
</div>
{%- endmacro %}

<!-- input images of form-->
{% macro form_image(form, filenames, count) -%}
<div class="form__images" data-count={{count}}>
    {% for i in range(count) %}
        {% if filenames|length > i %}
            {{ input_image(i, filenames[i]) }}
        {% endif %}
    {% endfor %}
</div>
{%- endmacro %}

{% macro input_image(index, filename) -%}
<div class="form__icon-wrapper">
    <div class="form__icon-container">
        <img src="{{ filename }}" alt="" class="form__icon-preview">
        <input type=file name=image_{{ index }} class="form__icon" id="image_{{ index }}">
        <div class="form__icon-delete"></div>
    </div>
</div>
{%- endmacro %}

<!-- inputs submit of form-->
{% macro form_submit(form, class='form__submit') -%}
    <div class="form__submit-block">
        {% for elem in form %}
            {% if elem.type == "SubmitField" %}
                {{ submit(elem, class=class) }}
            {% elif elem.name == "images_used" %}
                {{ elem(class='hidden', id='images_used') }}
            {% endif %}
        {% endfor %}
    </div>
{%- endmacro %}

{% macro submit(field, class='form__submit') -%}
    {{ field(type="submit", class=class) }}
{%- endmacro %}